<div class="line_fields" name="line_fields">
  <div class="row inline-inputs">
    <div class="span16">
      <div class="span1"><%= f.text_field :line_number, :class => 'tiny' %></div>
      <div class="span2"><%= f.text_field :part_number, :class => 'small' %></div>
      <div class="span2"><%= f.text_field :nsn, :class => 'small' %></div>
      <div class="span6"><%= f.text_field :description, :class => 'xlarge' %></div>
      <div class="span1"><%= f.number_field :quantity, :class => 'tiny' %></div>
      <div class="span1"><%= f.text_field :condition_code, :class => 'tiny' %> </div>
      <div><%= f.hidden_field :_destroy %></div>
      <div class="span1"><%= link_to_remove_fields "remove", f %></div>
    </div>
  </div>
</div>